<?xml version="1.0" encoding="utf-8"?> 
<odoo> <!-- Data records go here -->
    <menuitem name="My Library" 
              id="library_base_menu" />
    
    <menuitem name="Books" 
              id="library_book_menu" 
              parent="library_base_menu" 
              action="library_book_action"/>
</odoo>